<%= form_for(company) do |f| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <div class="row">
    <div class="col-md-3">
      <div class="field">
        <%= f.label :company_name %>
        <%= f.text_field :company_name,class: "form-control", required: :true, placeholder: "Enter Company Name" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :company_address %>
        <%= f.text_area :company_address, class: "form-control", required: :true, placeholder: "Enter Company Address" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :contact_no %>
        <%= f.text_field :contact_no, class: "form-control", required: :true, placeholder: "Enter Contact No" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :company_reference %>
        <%= f.text_field :company_reference, class: "form-control", placeholder: "Company Reference Name" %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="field">
        <%= f.label :total_bill_amount %>
        <% if company.persisted? %>
          <%= f.text_field :total_bill_amount, value: number_with_precision(f.object.total_bill_amount, precision: 2) ,class: "form-control", disabled: true %>
        <% else %>
            <%= f.text_field :total_bill_amount, value: number_with_precision(f.object.total_bill_amount, precision: 2) ,class: "form-control", placeholder: "Company Total Bill Amount"%>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.label :received_amount %>
        <% if company.persisted? %>
          <%= f.text_field :received_amount, value: number_with_precision(f.object.received_amount, precision: 2) ,class: "form-control", disabled: true%>
        <% else %>
          <%= f.text_field :received_amount, value: number_with_precision(f.object.received_amount, precision: 2) ,class: "form-control", placeholder: "Received Amount" %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 centered m-t-m text-center">
      <div class="actions">
        <%= f.submit class: "btn-success form-control" %>
      </div>
    </div>
  </div>
</div>
<% end %>
