<div class="row">
  <div class="col-md-4">
    <h1>Companies</h1>
  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4 m-t-m text-center">
    <%= link_to '+ New Company Entry', new_company_path, class: "btn-success form-control pull-right", style: "width:200px;" %>
  </div>
</div>

<table class="display" id="companies">
  <thead>
    <tr>
      <th>ID</th>
      <th>Company Name</th>
      <th>Company Address</th>
      <th>Contact No</th>
      <th>Company Reference</th>
      <th>Total Bill Amount</th>
      <th>Recoverable Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.id, company %></td>
        <td><%= link_to company.company_name, company %></td>
        <td><%= link_to company.company_address, company %></td>
        <td><%= link_to company.contact_no, company %></td>
        <td><%= link_to company.company_reference, company %></td>
        <td><%= link_to number_to_currency(company.total_bill_amount, precision: 2, unit: 'PKR '), company %></td>
        <td><%= link_to number_to_currency(company.recoverable_amount, precision: 2, unit: 'PKR '), company %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

