<div class="row">
  <div class="col-md-8">
    <h1>Review Company Record</h1>
  </div>
  <div class="col-md-4 m-t-l text-center">
    <%= link_to '<< Back', companies_path, class: "btn-info form-control pull-right", style: "width:100px;" %>
  </div>
</div>
<hr>
<div class="row form-group">
  <div class="col-md-3">
    <h3>Company Name</h3>
    <input type="text" value="<%= @company.company_name %>" class="form-control" disabled>
  </div>
  <div class="col-md-3">
    <h3>Company Address</h3>
    <input type="text" value="<%= @company.company_address %>" class="form-control" disabled>
  </div>
  <div class="col-md-3">
    <h3>Contact No #</h3>
    <input type="text" value="<%= @company.contact_no %>" class="form-control" disabled>
  </div>
  <div class="col-md-3">
    <h3>Company Reference</h3>
    <input type="text" value="<%= @company.company_reference %>" class="form-control" disabled>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-3">
    <h3>Total Bill Amount</h3>
    <input type="text" value="<%= number_to_currency(@company.total_bill_amount, precision: 2, unit: 'PKR ') %>" class="form-control" disabled>
  </div>
  <div class="col-md-3">
    <h3>Recoverable Amount</h3>
    <input type="text" value="<%= number_to_currency(@company.recoverable_amount, precision: 2, unit: 'PKR ')  %>" class="form-control" disabled>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    &nbsp;
  </div>
  <div class="col-md-4 m-t-m text-center">
    <div class="actions">
      <%= link_to 'Edit', edit_company_path(@company), class: "btn-success form-control" %>
    </div>
  </div>
  <div class="col-md-4 m-t-m text-center">
    <div class="action">
      <%= link_to 'Destroy', params[:id], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-danger form-control" %>
    </div>
  </div>
  <div class="col-md-2">
    &nbsp;
  </div>
</div>
<br>