<%= form_for(receivable) do |f| %>
  <% if receivable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receivable.errors.count, "error") %> prohibited this receivable from being saved:</h2>

      <ul>
      <% receivable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <div class="row">
    <div class="col-md-3">
      <div class="field">
        <%= f.label :company_id %>
        <%= f.collection_select :company_id, Company.all.where(secure:true, user_id: current_user.id), :id, :company_name, { include_blank: 'Choose Company Name' } ,class: "form-control", placeholder: "Company Select", required: :true %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :bill_no %>
        <%= f.collection_select :bill_no, Billentry.all.where(secure:true, user_id: current_user.id), :id, :id, { include_blank: 'Choose Bill No' } ,class: "form-control", required: :true %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :receiveable_amount %>
        <%= f.text_field :receiveable_amount, class: "form-control", placeholder: "Received Amount", required: :true %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :check_date %>
        <%= f.date_field :check_date, class: "form-control" %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <div class="field">
        <%= f.label :transaction_date %>
        <%= f.date_field :transaction_date, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.label :remarks %>
        <%= f.text_area :remarks, class: "form-control", placeholder: "Check No or Other Details" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 centered m-t-m text-center">
      <div class="actions">
        <%= f.submit class: "btn-success form-control" %>
      </div>
    </div>
  </div>
</div>
<% end %>
