<%= form_for(billentry, remote: true) do |f| %>
  <% if billentry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(billentry.errors.count, "error") %> prohibited this billentry from being saved:</h2>

      <ul>
      <% billentry.errors.full_messages.each do |message| %>params[:id]
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <div class="row">
    <div class="col-md-2">
      <div class="field">
        <%= f.label :truck_no %>
        <%= f.collection_select :truck_no, Truck.all.where(secure:true, user_id: current_user.id), :id, :truck_no, { include_blank: 'Choice Truck' }, { class: "form-control", required: :true }  %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.label :company_name %>
        <% if billentry.persisted? %>
          <%= f.collection_select :company_id, Company.all.where(secure:true, user_id: current_user.id), :id, :company_name, { include_blank: 'Choice Company Name' },class: "form-control", disabled: true %>
        <% else %>
          <%= f.collection_select :company_id, Company.all.where(secure:true, user_id: current_user.id), :id, :company_name, { include_blank: 'Choice Company Name' },class: "form-control" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.label :address %>
        <%= f.text_area :address,class: "form-control", readonly: true%>
      </div>
    </div>
    <div class="col-md-2">
      <div class="field">
        <%= f.label :time_arrive %>
        <%= f.collection_select :time_arrive, Daytime.all, :day_start, :day_start, {include_blank: 'Arrive Time'}, { class: "form-control", required: :true }  %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <div class="field">
        <%= f.label :time_departure %>
        <%= f.collection_select :time_departure, Daytime.all, :day_start, :day_start, {include_blank: 'Choice Day Start Time'}, { class: "form-control", required: :true }  %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :current_date %>
        <%= f.date_field :current_date, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :supply_rate %>
        <%= f.text_field :supply_rate, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :capacity %>
        <%= f.text_field :capacity, class: "form-control capa" %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <div class="field">
        <%= f.label :previous_balance %>
        <%= f.text_field :previous_balance, class: "form-control", readonly: true%>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :total_amount %>
        <%= f.text_field :total_amount, class: "form-control" %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 centered m-t-m text-center">
      <div class="actions">
        <%= f.submit class: "btn-success form-control" %>
      </div>
    </div>
  </div>
</div>
<% end %>