<!DOCTYPE html>
<html>
  <head>
    <title>HiDrantProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">-->
  </head>

  <body>
  <div class="main-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <%= link_to image_tag('logo.png', alt: 'Water HY-Drant Project'), root_path %>
          <h1>Water HY-Drant Project</h1>
          <p id="notice">
            <%= notice %>
          </p>
        </div>
      </div>
      <br>
      <%= yield %>
    </div>
  </div>
  </body>
</html>
